{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>API-based web interface for navigating local trending restaurants</h1>

    <p>By Alexandria, Michael, Selly</p>

    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.travelandleisure.com/thmb/Jw-KKDrA6z1nvDJbr5kyKJSG4vk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-header-oiji-mi-NEWNYCDINE0223-8c392080598d44dbafdbc87bbcf4d7dd.jpg" class="d-block w-100" alt="Fancy Restaurant">
            </div>

            <div class="carousel-item">
                <img src="https://www.travelandleisure.com/thmb/uM703OxPgFslzJKHY9viaiI8mbE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-torrisi-bar-restaurant-NEWNYCDINE0223-7eeb33d0782142339c335bbfdd916ca0.jpg" class="d-block w-100" alt="Fancy Restaurant 2">
            </div>

            <div class="carousel-item">
                <img src="https://www.travelandleisure.com/thmb/lv-zo4FCb98FrrZcXvqv5jkGefA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc()/TAL-jupiter-NEWNYCDINE0223-9ed1fcf218bb45a5a592edfdeebca435.jpg" class="d-block w-100" alt="Fancy Restaurant 3">
            </div>
        </div>
    </div>

{% endblock %}