{% extends "bootstrap_5_layout.html" %}
{% set active_page = "restaurant_dashboard" %}

{% block content %}


    <h2>Restaurant Dashboard</h2>

    <br>

            <!--

        RESPONSIVE GRID OF CARDS

        SEE:

            https://getbootstrap.com/docs/5.0/layout/grid/

            https://getbootstrap.com/docs/5.0/components/card/

            https://getbootstrap.com/docs/5.0/components/card/#grid-cards

      -->

      <div class="row row-cols-3">
        
        {% for row in restaurants %}

        <div class="card col" style="width: 18rem; margin:20px;">
            <img src="{{row['image_url']}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{{row['url']}}">{{row["name"]}}</a></h5>
                <p class="card-text">{{row["location"]["address1"]}}, {{row["location"]["city"]}}, {{row["location"]["zip_code"]}}</p>
            </div>
        </div>

        {% endfor %}

      </div>


            
{% endblock %}