
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "restaurant_form" %}

{% block content %}

    <h2>Restaurant Form</h2>

    <p>List of valid zipcodes:</p>

    <ul>
        <li>10002</li>
        <li>10003</li>
        <li>10009</li>
        <li>10011</li>
        <li>10012</li>
        <li>10013</li>
        <li>10014</li>
        <li>10018</li>
        <li>10038</li>
        <li>11201</li>
        <li>11205</li>
        <li>11206</li>
        <li>11211</li>
        <li>11217</li>
        <li>11222</li>
      </ul>

    <form action="/restaurant/dashboard" method="POST">

        <label>Zip Code:</label>
        <input type="integer" name="c_zipcode" placeholder="10003" value="10003">
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}